body {
    background-color: #bcf0f0;
    background-image: url(DHO4.jpg);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position:center center;
        background-size: cover;
        position: relative;
        
        



}